body {
  padding-top: 5rem;
  margin-left: 10px;
  margin-right :10px;
  background-color: #FAF9F6;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.gap{
	margin: 10px 10px 10px 10px;
}
@media screen and (min-width: 771px){
	.card{

	width: 20rem;
}
}

@media screen and (min-width: 574px) and (max-width: 770px){
	.card{
		width: 15rem;
	}
	.card-title{
	}
}

@media screen and (max-width: 573px){
	.card{
		margin-left:40px;
		margin-top: 10px;
		margin-bottom: 10px;
		width : 25rem;
		height: 25rem;
	}
}

